#img1 {
	margin-top: 0.7em;
}

#img2,
#img5 {
	margin-top: 1.8em;
}

#img3,
#img4 {
	margin-top: 1.6em;
}

/* set the position of the img caption */
/*#img1 .overtext,
#img3 .overtext {
	top: 73%;
}

#img2 .overtext,
#img4 .overtext {
	top: 65%;
}

#img5 .overtext {
	top: 70%;
}*/

/* decreasigng the menu font size */
@media (min-width: 961px) and (max-width: 1200px) {
	/* this works for all the images into the current html */
	.text-img img {
		max-width: 25em;
		max-height: 25em;
	}

	/* set the size of the img caption */
	.landscape .overtext {
		width: 22em;		
	}

	.portrait .overtext {
		width: 16em;
	}

	/* set the position of the img caption */
/*	#img1 .overtext,
	#img5 .overtext {
		top: 65%;
	}

	#img2 .overtext {
		top: 55%;
	}

	#img3 .overtext {
		top: 70%;
	}

	#img4 .overtext {
		top: 60%;
	}*/
}


/* mobile menu */
@media (max-width: 960px) {
	
	/* set the position of the img caption */
/*	#img1 .overtext,
	#img2 .overtext,
	#img3 .overtext,
	#img4 .overtext,
	#img5 .overtext {
		top: inherit;
		bottom: 0em;
	}*/
}

