#p1 {
	margin-top: 5em;
}


/* decreasigng the menu font size */
@media (min-width: 961px) and (max-width: 1200px) {
	/* this works for all the images into the current html */
	.r img,
	.l img {
		max-width: 25em;
		max-height: 25em;
	}

	/* set the size of the img caption */
	.big .overtext,
	.landscape .overtext {
		width: 22em;		
	}

	.portrait .overtext {
		width: 16em;
	}

}


/* mobile menu */
@media (max-width: 960px) {


}

